Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/example-page' | relative_url }}">Example page</a></li>
</ul>

游戏手册

<ul>
  <li><a href="{{ '/基本知识' | relative_url }}">基本知识</a></li>
  <li><a href="{{ '/鉴定技巧' | relative_url }}">鉴定技巧</a></li>
</ul>

道具

<ul>
  <li><a href="{{ '/武器' | relative_url }}">武器</a> / <a href="{{ '/火把' | relative_url }}">火把</a> / <a href="{{ '/盾牌' | relative_url }}">盾牌</a> / <a href="{{ '/手环' | relative_url }}">手环</a></li>
  <li><a href="{{ '/草' | relative_url }}">草</a> / <a href="{{ '/卷轴' | relative_url }}">卷轴</a> / <a href="{{ '/壶' | relative_url }}">壶</a></li>
  <li><a href="{{ '/法杖' | relative_url }}">法杖</a> / <a href="{{ '/符' | relative_url }}">符</a></li>
  <li><a href="{{ '/饭团' | relative_url }}">饭团</a> / <a href="{{ '/桃子' | relative_url }}">桃子</a></li>
  <li><a href="{{ '/箭矢' | relative_url }}">箭矢</a> / <a href="{{ '/石头' | relative_url }}">石头</a></li>
  <li><a href="{{ '/陷阱' | relative_url }}">陷阱</a> / <a href="{{ '/其他' | relative_url }}">其他</a></li>
</ul>
